@model List<DestinyLib.DataContract.Analysis.StatPermutationPercentiles>
 <div id="affectedAttributes">
    @foreach (var stat in this.Model)
    {
        <p>@Html.Raw(stat.Name)</p>
        <ul>
            <li>BaseValue: @Html.Raw(stat.BaseValue)</li>
            <li>Perk Percentiles (min, 25%, 50%, 75%, max): @Html.Raw(stat.Percentiles)</li>
            <li>Interpolation:
                <div style="width:400px;">
                    <canvas id="myChart"></canvas>
                </div>
            </li>
        </ul>
    }
</div>

<script>
const ctx = document.getElementById('myChart').getContext('2d');

const data = {
  datasets: [{
    //label: 'Scatter Dataset',
    data: [{x: 0, y: 20}, {x: 10, y: 10}, {x: 20, y: 15}, {x: 30, y: 10}],
  }],
};

const config = {
  type: 'scatter',
  data: data,
  options: {
    animation: false,
    showLine: true,
    elements: {
        line: {
            borderColor: '#1CB574',
        },
        point: {
            radius: 5,
            backgroundColor: '#1CB574',
        },
    },
    scales: {
        x: {
            type: 'linear',
            position: 'bottom',
            grid: {
                color: '#43464B',
                borderColor: '#FFF'
            },
            ticks: {
                color: '#FFF'
              }
        },
        y: {
            grid: {
                color: '#43464B',
                borderColor: '#FFF'
            },
            ticks: {
                color: '#FFF',
              }
        },
        
    },
    plugins: {
            legend: {
                display: false,
            }
        }
  }
};

const myChart = new Chart(ctx, config);
</script>