@model SandboxWeb.Models.PermutationsModel

@{
    ViewData["Title"] = "Home Page";
}

@*// Razor Syntax: https://www.tutorialsteacher.com/mvc/razor-syntax*@

<div>
    Search by Name
    <div>
    <p>// TODO: IMPLEMENT SEARCH BY NAME.</p>
    </div>

    Search By Id
    <div>
    <p>Use https://data.destinysets.com/ to search for a weapon's InventoryId (in the url). </p>

    <input type="text" id="result" size="20">
    <input type="button" value="Search" name="no" onclick="ButtonClick_Test()"> 
    </div>

    Examples:
    <div>
    <ul>
        <li><a href="~/Home/Index/2891672170">Xenoclast IV</a></li>
        <li><a href="~/Home/Index/821154603">Gnawing Hunger</a></li>
        <li><a href="~/Home/Index/3654674561">Dead Man's Tale</a></li>
        <li><a href="~/Home/Index/3856705927">Hawkmoon</a></li>
    </ul>
    </div>

</div>

<hr />


@*<div class="text-center">*@
<div>
    <h1 class="display-4">@Html.DisplayFor(x => x.Name)</h1>
    
    <p>BaseValue: @Html.DisplayFor(x => x.BaseValue)</p>
    
    <p>
        Number of Permutations @Html.DisplayFor(x => x.PermutationsCount)
    </p>

    <p id="permutations" style="display:none">
        @Html.DisplayFor(x => x.Values)
    </p>

    
    <div id="plot" style="width:600px;height:500px;"></div>
    

</div>
<!-- Latest compiled and minified plotly.js JavaScript -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script lang="javascript">

// https://github.com/plotly/plotly.js
// https://plotly.com/javascript/box-plots/

var permutations = document.getElementById("permutations").innerText.split(',');

console.log(permutations);

var data = [
  {
    //y: [0, 1, 1, 2, 3, 5, 8, 13, 21],
    y: permutations,
    boxpoints: 'all',
    jitter: 0.3,
    pointpos: -1.8,
    type: 'box'
  }
];

//TESTER = document.getElementById();
Plotly.newPlot('plot', data);    

</script>

<script>
 // TODO: TYPESCRIPT   

function ButtonClick_Test()
{
    var input = document.getElementById("result").value;
    
    window.location.href = "/Home/Index/" + input

    
    
}


</script>