<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - DestinySandbox</title>*@
    @await Html.PartialAsync("_Favicons")
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    @*----*@
    <!-- Primary Meta Tags -->
    <title>Destiny 2 Weapon Report</title>
    <meta name="title" content="Destiny 2 Weapon Report">
    <meta name="description" content="Hobby project exploring amateur data science on the weapons of Destiny 2.">

    <!-- Open Graph / Facebook -->
    <!--<meta property="og:type" content="website">
    <meta property="og:url" content="https://d2weaponreport.com/repository-open-graph-template.png">
    <meta property="og:title" content="Destiny 2 Weapon Report">
    <meta property="og:description" content="Hobby project exploring amateur data science on the weapons of Destiny 2.">
    <meta property="og:image" content="https://d2weaponreport.com/repository-open-graph-template.png">-->

    <!-- Twitter -->
    <!--<meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://d2weaponreport.com/">
    <meta property="twitter:title" content="Destiny 2 Weapon Report">
    <meta property="twitter:description" content="Hobby project exploring amateur data science on the weapons of Destiny 2.">
    <meta property="twitter:image" content="https://d2weaponreport.com/repository-open-graph-template.png">-->


    <meta name="twitter:image:src" content="https://d2weaponreport.com/repository-open-graph-template.png" />
    <meta name="twitter:site" content="https://d2weaponreport.com/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Destiny 2 Weapon Report" />
    <meta name="twitter:description" content="Hobby project exploring amateur data science on the weapons of Destiny 2." />
    <meta property="og:image" content="https://d2weaponreport.com/repository-open-graph-template.png" />
    <meta property="og:image:alt" content="Hobby project exploring amateur data science on the weapons of Destiny 2." />
    <meta property="og:site_name" content="Destiny 2 Weapon Report" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Destiny 2 Weapon Report" />
    <meta property="og:url" content="https://d2weaponreport.com/repository-open-graph-template.png" />
    <meta property="og:description" content="Hobby project exploring amateur data science on the weapons of Destiny 2." />




</head>
<style>
    body {
        /*background-image: linear-gradient(to bottom, #000070, #000018);*/
        background-color: #062037;
        color:white;
    }
table {
    color:white;
}
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">@*bg-white*@
            <div class="container">
                <a style=" font-weight: bold; color: white; " class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">D2 Weapon Report</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://github.com/TimothyMothra/D2WeaponReport">GitHub</a>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
